<div *ngIf="sidenavConfig">
  <app-toolbar [navConfig]="sidenavConfig" (collapse)="toggleEmit(sidenav,$event)"></app-toolbar>
  <mat-sidenav-container class="nav-container-main">
    <mat-sidenav #sidenav [fixedInViewport]="true" [mode]="sidenavConfig.SideModel" [opened]="sidenavConfig.IsHandSet"
      [fixedTopGap]="sidenavConfig.IsXsmall?56:64" fixedBottomGap="0" fixedInViewport="false">
      <mat-nav-list>
        <app-typesel [title]="'文件类型'" [config]="selconfig">
        </app-typesel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="nav-content">
      <app-table [tableConfig]="tc" #table></app-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
