<div cdkDragRootElement=".cdk-overlay-pane" cdkDrag [cdkDragDisabled]="disableDrag">
  <div mat-dialog-title>
    <div class="preview-dialog-header">
      <span>{{file.fileName}}</span>
      <span>
        <button mat-icon-button (click)="play()">
          <mat-icon>{{paused?'play_arrow':'pause'}}</mat-icon>
        </button>
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </div>
    <div *ngIf="type==='video'" class="slider-bar">
      <mat-slider [(ngModel)]="sliderValue" style="width: 100%;" tickInterval="1000" [min]="sliderMin" [max]="sliderMax"
        [value]="sliderValue" (input)="onTouched($event)" (change)="sliderValueChange($event)" #slider></mat-slider>
      <span>{{currentTime + '/' + totalTime}}</span>
    </div>
  </div>
  <div mat-dialog-content (dblclick)="doubleClick()">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'video'">
        <video #videoPlay>
          <source [src]="downloadUrl+file.id" [type]="file.contentType">
        </video>
      </ng-container>
      <ng-container *ngSwitchCase="'audio'">
        <audio controls #audioPlay>
          <source [src]="downloadUrl+file.id" [type]="file.contentType">
        </audio>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h1>暂时不支持该类型的预览</h1>
      </ng-container>
    </ng-container>
  </div>
</div>
